* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;

}
body{
    background-color:hsl(218, 22%, 88%); ;
}
.table{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: 200px 250px;
    grid-template-areas: 
    "s s s s"
    "f f t t";
    justify-content: center;
    align-content: center;
}
.start{
    grid-area: s;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.6em;
}
.start p{
    color: gray;
}
.start h1{
    padding-top: 30px;
    color: hsl(179, 62%, 43%);
    padding-bottom: 21px;
    font-size: 18px;
    
}
.start h3{
    color:  hsl(71, 73%, 54%);
    margin-bottom: 11px;
}
.login{
    grid-area: f;
    background-color:hsl(179, 62%, 43%) ;
    color: #fff;
    padding-left: 30px;
}
.login h4{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
}
.login p{
    padding-top: 10px;
}
/*boutton login*/
button{
    background-color: hsl(71, 73%, 54%);
    border: none;
    width: 235px;
    height: 40px;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.text{
    grid-area: t;
    padding-left: 30px;
    padding-bottom: 20px;
    color: #fff;
    background-color: hsl(179, 49%, 53%);
}
.text h4{
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.text p{
    font-weight: lighter;
}
@media screen and (max-width:576px){
    .table{
        height: 100vh;
        width: 350px;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .start{
        height: 250px;
    }
    .login{
        height: 250px;
    }
    .text{
        height: 250px;
    }
}